<p id="notice"><%= notice %></p>

<header class="navbar navbar-fixed-top navbar-inverse">      
      
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Edit you profile', edit_user_path(@user) %></li>
          <li><%= link_to "Log out", logout_path, method: "delete"%></li>
        </ul>
      </nav>
</header>

<%arr = issues_user(@user)%>


<%arr = issues_user(@user)%>
<%if arr.nil? %>

<p>List is empty</p>

<%else%>

<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">number</th>
      <th scope="col">subject</th>
      <th scope="col">status</th>
      <th scope= "col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>  	
      <% arr.each do |issue| %>
        <tr>
          <td><%= issue.number %></td>
          <td><%= issue.subject %></td>          
          <% unless issue.status %>   
          <td>Be in progress</td>
          <%else%>       
          <td>Done</td>
          <%end%>

          <td><%= link_to 'Show', issue %></td>
          <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
          <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure want delete this issue?' } %></td>  
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'create new issue', new_issue_path, class: "btn btn-primary btn-md" %>